.App-header {
  background-image: url("../images/nature/1.jpg");
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Teens
{
  border-collapse:separate;
  padding-bottom: 1em;
}

.column {
  display: flex;
  float: left;
}

/* Clear floats after the columns */
.row {
  display: flex;
}